.rightSideContainer {
  width: 100%;
  height: 100%;
}

.form-group {
  display: flex;
  justify-content: center;
  align-self: center;
}

.input-group {
  width: 294px !important;
}

.logoColor {
  margin-left: 2rem;
  margin-top: 2rem;
  display: block;
}

@media screen and (min-width: 769px) {
  .logoColor {
    display: none;
  }
}
