.button_group {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  gap: 10px;
  margin-top: auto;
}

.footer-btn {
  position: sticky;
  padding-top: 10px;
  border-top: 1px solid #eee;
  bottom: 0;
  background-color: #fff;
}
