.table th {
  padding: 1.3em 2em 1.3em 0;
}

.link-unlink {
  text-align: right;
  padding-right: 0px !important;
}

.link-unlink button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: right;
  padding: 0.4rem 0.6rem;
}

.link-unlink button i {
  font-size: 16px;
  margin-right: 0.4em;
}

.table td {
  padding: 1.8em 2em 1.3em 0;
}

.issues-wrapper {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: stretch;
  width: 100%;
}

/* .flip-card-container:only-of-type {
  max-width: 400px;
  width: 100%;
} */

#content-tab-1.article-list {
  overflow: unset;
  max-height: unset;
}

body {
  background: var(--white);
}

.profile-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.error-message {
  color: var(--red) !important;
}

.thumb-project:hover i {
  opacity: 1;
  cursor: pointer;
}

.thumb-project i {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  background: rgba(33, 37, 41, 0.4);
}

fieldset.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
fieldset.dropdown div.DdWrapper {
  position: relative;
  width: 100%;
}
fieldset.dropdown label {
  opacity: 1;
  background: var(--white);
  position: absolute;
  top: -7px;
  left: 7px;
  z-index: 2;
  font-size: 10px;
  padding: 0 4px;
  color: var(--secondary);
}
/* fieldset.dropdown:hover select {
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--lines);
  background: url(
      data:image/svg + xml;utf-8,
      <svgfill='none'xmlns='http://www.w3.org/2000/svg'height='24'viewBox='0 0 24 24'width='24'><pathd='M0 0h24v24H0V0z'/><pathfill='%23909295'd='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/></svg>
    )
    no-repeat #fff;
  background-position-x: calc(100% - 5px);
  background-position-y: center;
} */
fieldset.dropdown select {
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  background-position-x: calc(100% - 10px);
  font-weight: 400;
  padding: 8px 10px 5px 10px;
  font-size: 12px;
  color: var(--dark);
  text-align: center;
  text-align-last: center;
}

#loading-wrapper {
  z-index: 99999999;
}

.paginationStart {
  margin-top: 20px;
}

.startpageError {
  color: #c4183c !important;
  border-color: #c4183c !important;
}

.blankPage {
  background-color: #f9f9f9;
  padding: 10px !important;
}

.articleTile {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 12px;
  color: var(--dark);
}

.thumb-project input {
  top: 0;
  left: 0;
}

.start-page-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-basis: 50%;
  flex-shrink: 0;
  margin-right: auto;
}

.blank-button-group {
  display: flex;
  align-self: center;
}

#edit-issue {
  background: #ffffffe3;
}

.issue-pdf-error {
  width: 40px;
  height: 40px;
}

.pdf-warning:hover {
  color: #ffffff !important;
}

.start-page-controls .wrap-field-label {
  width: 70px;
  flex-grow: 0;
  flex-shrink: 0;
  transform: translateY(-7px);
}

#tooltip-black {
  display: inline-block;
  background: black;
  color: white;
  font-weight: bold;
  padding: 2px 10px 5px;
  border-radius: 4px;
  max-width: 250px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

#arrow-black,
#arrow-black::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow-black {
  visibility: hidden;
}

#arrow-black::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

#tooltip-title-black {
  /* margin-top: 4px; */
  /* margin-bottom: 16px !important; */
  font-size: 11px;
  /* font-weight: 500; */
}

.green-dot {
  color: var(--success);
}

.dot {
  font-size: 14px;
}

.red-dot {
  color: var(--danger);
}

.gray-dot {
  color: var(--secondary);
}

.article-status-dot {
  display: flex;
}
.short-text {
  width: 18ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.short-text-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.th-full {
  width: 100%;
  min-width: 280px;
}

.issue-pdf-btn {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
}
.hide {
  display: none;
}

a.revisions.active {
  color: var(--primary);
}

.upload-gallery-box {
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
}
#file-drag {
  border: 1px dashed #979797;
  border-radius: 7px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 1em 0;
  padding: 5em;
  text-align: center;
  transition: 0.3s;
}
#assetUploadModal_inner > .modal-sm {
  max-width: 500px !important;
}
#file-upload-form {
  width: 100%;
}
.upload-content {
  text-align: left;
}

img.gallery-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

img.no-preview {
  width: 22%;
}

.image-preview {
  display: flex;
  align-items: center;
  justify-content: center;
}

input#file-upload {
  opacity: 0;
  width: 100%;
  height: 10vw;
  cursor: pointer;
}

#file-upload-form p {
  position: absolute;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: dashed 1px var(--secondary);
  z-index: 0;
  font-size: 12px;
  padding: 0px 10px;
  width: 400px;
}

#file-upload-form p span {
  color: var(--primary);
  padding: 0.4em 0.8em;
  border: solid 1px;
  margin: 0 0 0 1em;
  border-radius: 4px;
}

.form-upload .modal-footer {
  display: none;
}

.progress-upload img {
  width: 40%;
  float: left;
  min-height: 80px;
}

.content-box:hover .delete-file-from-upload {
  opacity: 1;
}

.delete-file-from-upload {
  position: absolute;
  background: white;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 100%;
  color: var(--dark);
  cursor: pointer;
  opacity: 0;
  transition: 0.2s;
}

.delete-file-from-upload:hover {
  color: var(--primary);
}

img.thumb-img.no-preview {
  padding: 2.5em 4em;
}

.progress-per {
  width: 100%;
}

.content-box {
  width: 100%;
  display: inline-block;
  margin: 0.6em 0;
  position: relative;
}

h2.history-title {
  font-size: 14px;
  letter-spacing: 0;
  color: var(--dark);
  font-weight: bold;
  margin: 0;
}

#boxRevisions p {
  font-size: 12px;
}

a.download-revision i {
  font-size: 16px;
}

a.download-revision {
  color: var(--secondary);
}

a.download-revision:hover {
  color: var(--primary);
}

#boxRevisions th:last-child,
#boxRevisions td:last-child {
  padding-right: 0 !important;
  text-align: right !important;
}

.close-revisions {
  display: none;
}

.close-revisions.on {
  display: block;
}

.content-select.off input {
  cursor: default !important;
}

fieldset.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
fieldset.dropdown div.DdWrapper {
  position: relative;
  width: 100%;
}
fieldset.dropdown label {
  opacity: 1;
  background: var(--white);
  position: absolute;
  top: -7px;
  left: 7px;
  z-index: 2;
  font-size: 10px;
  padding: 0 4px;
  color: var(--secondary);
}
fieldset.dropdown:hover select {
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--lines);
  /* background: url(data:image/svg+xml;utf-8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" /><path fill="%23909295" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>) no-repeat #fff; */
  background-position-x: calc(100% - 5px);
  background-position-y: center;
}
fieldset.dropdown select {
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  background-position-x: calc(100% - 10px);
  font-weight: 400;
  padding: 8px 10px 5px 10px;
  font-size: 12px;
  color: var(--dark);
  text-align: center;
  text-align-last: center;
}
.validation-error-figurename,
.validation-error-taskname {
  color: red;
  font-size: 10px;
}

.tif-background {
  background-image: url("/assets/icons/tiff.svg");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center;
}

.name-file .error-msg {
  display: block;
}

a.uploadCoverFile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  color: var(--secondary);
  font-size: 13px;
  text-decoration: none;
  margin-right: 3em;
  position: relative;
  transition: all 0.3s ease 0.05s;
}

a.uploadCoverFile i {
  font-size: 15px;
  margin-right: 0.5em;
}

a.uploadCoverFile:hover {
  color: var(--primary);
}

.coverUploadEle {
  width: 400px;
}
