.dashboard-title {
  font-weight: normal;
  font-size: 24px;
  color: var(--primary);
  line-height: 28px;
  letter-spacing: -0.5px;
}

.dashboard-box {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 24%;
  min-height: 350px;
  max-height: 350px;
  overflow: hidden;
  padding: 2em;
  box-shadow: 0 1px 7px -2px var(--shadow);
  transition: 0.3s;
}

.dashboard-box:hover {
  border: 1px solid var(--primary);
}

.dashboard-box-head-line {
  width: 100%;
  text-align: left;
  color: var(--dark);
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.46px;
  line-height: 25px;
  margin: 0px 0 1.2em;
}

.dashboard-box-innerbody {
  min-height: 120px;
}

.dashboard-box-number {
  color: var(--primary);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: 24px;
}

.dashboard-box-legend {
  color: var(--dark);
  font-size: 20px;
  line-height: 24px;
  font-weight: normal
}

.dashboard-box-button {
  background: #fff;
  border-color: var(--primary);
  color: var(--primary);
  box-shadow: none;
  font-size: 16px !important;
  padding: 0.7em 1em !important;
  width: auto !important;
  line-height: 1 !important;
  height: auto !important;
  margin: 1em 0 0 !important;
  transition: 0.3s;
}

.dashboard-box-button:hover {
  background: var(--primary);
  color: white;
  border-color: var(--primary);
}

.dashboard-box-calendar-item {
  padding: 5px 10px;
  text-align: left;
  color: var(--secondary);
  /* height: 100%; */
  border-radius: 4px;
  background-color: var(--light);
  font-size: 12px;
  letter-spacing: -0.35px;
  line-height: 24px;
  margin: 0 0 0.6em;
}

.dashboard-box-calendar-item:last-child {
  margin-bottom: 0 !important;
}

p.wrap-names {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.dashboard-box-rss-title,
.notification-header {
  text-align: left;
  color: var(--dark);
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 28px;
}

.flex-block-dashboard {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

h2.title-section {
  color: var(--secondary);
  font-size: 17px;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  margin: 3em 0 1.5em;
}

h2.title-section i {
  margin-right: 0.5em;
}

.bg_toggle.form-switch {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.bg_toggle.form-switch > .label {
  margin-right: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out opacity;

  /* margin: .5 0 1rem 0; */
  font-size: 12px;
}

.bg_toggle.form-switch:hover > .label,
.bg_toggle.form-switch:focus-within > .label,
.bg_toggle.form-switch:focus > .label {
  /* border:3px solid green; */
  opacity: 1;
  pointer-events: all;
}

.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: '';
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: '';
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}

.form-switch input {
  display: none;
}

.form-switch input:checked + i {
  background-color: #4bd763;
}

.form-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
  /* box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05); */
}

/* .page-header:not(.dashboard-header, .calendar-header) {
  display: none;
} */

.notification-box {
  background: #f9f9f9;
  min-height: 60px;
  border: 1px solid #e8ecef;
  border-radius: 4px;
  display: flex;
}

ul.notification-list > li.notification-box:last-of-type {
  margin-bottom: 0 !important;
}

.noti-title,
.noti-hours {
  font-size: 12px;
  color: #909295;
}
.notification-box header {
  align-items: center;
}

.notification-box .noti-title {
  /* width: 85%; */
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: max-content;
  flex-grow: 0;
  white-space: nowrap;
}
.noti-hours {
  font-size: 12px;
  color: #212529;
  min-width: max-content;
  margin-left: 15px;
}

.noti-detail {
  font-size: 12px;
  font-weight: bold;
  color: #212529;
  padding-top: 5px;
}

.notif-dshbrd-box .notification-box {
  width: 100% !important;
  max-width: 100%;
}

#notificationIcon.active {
  color: var(--primary);
}

.notif-dshbrd-box {
  cursor: pointer;
}

.notif-dshbrd-box .notification-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 250px;
  padding-right: 1em !important;
}

.notification-list {
  list-style: none;
}

.noti-list {
  width: 100%;
}

.noti-list:hover {
  text-decoration: none;
}

.noti-list header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.notification-header a {
  color: var(--dark);
}

.notification-header a:hover {
  text-decoration: none;
}

.notification-container .notification-header a {
  cursor: default;
  pointer-events: none;
}

.dashboard-box[onclick] {
  cursor: pointer;
}

/*Custom scroll for notification*/
.notification-list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  transition: 0.3s;
}
.notification-list::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.notification-list::-webkit-scrollbar-thumb {
  background: var(--lines);
  border: 0px none #ffffff;
  border-radius: 50px;
}
.notification-list::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

.notification-list::-webkit-scrollbar-thumb:active {
  background: var(--secondary);
}
.notification-list::-webkit-scrollbar-track {
  background: var(--light);
  border: 0px none #ffffff;
  border-radius: 0px;
}
.notification-list::-webkit-scrollbar-track:hover {
  background: var(--lines);
}
.notification-list::-webkit-scrollbar-track:active {
  background: var(--lines);
}
.notification-list::-webkit-scrollbar-corner {
  background: transparent;
}

/*
///////
//
// MAKE SURE YOU USE THE SCSS FILE to generate CSS 
// Don't Edit the CSS file directly
//
//////
*/
#notification .notifications {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 70vh;
  max-height: 500px;
  padding: 5px;
  width: 100%;
  padding: 1rem;
}

#notification .notifications [class*='MenuColumn_menu'] {
  min-width: 200px;
}

#notification .notifications > div.undefined {
  --spacing: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: calc(100% / 3);
  border: 1px solid var(--lines);
  background-color: var(--white);
  -webkit-box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11),
    0px 3px 6px rgba(90, 97, 105, 0.12), 0px 8px 8px rgba(90, 97, 105, 0.06),
    0px 6px 51px rgba(90, 97, 105, 0.1);
  box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11),
    0px 3px 6px rgba(90, 97, 105, 0.12), 0px 8px 8px rgba(90, 97, 105, 0.06),
    0px 6px 51px rgba(90, 97, 105, 0.1);
}

#notification .notifications > div.undefined h2 {
  background-color: var(--light);
  padding: 0 calc(var(--spacing) * 1.5);
  margin: 0;
  min-height: 54px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--dark);
  line-height: 22px;
}

#notification .notifications > div.undefined ul {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--white);
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

#notification .notifications > div.undefined ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-width: 200px;
}

#notification .notifications > div.undefined ul li:not(:last-child) button {
  border-bottom: none;
}

#notification .notifications > div.undefined ul li .second_column {
  background-color: var(--red);
  color: var(--white);
  --circle-size: 20px;
  border-radius: var(--circle-size);
  width: var(--circle-size);
  height: var(--circle-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11px;
  font-weight: bolder;
}

#notification .notifications > div.undefined ul li button {
  --border-color: var(--lines);
  border: 1px solid var(--border-color);
  border-right: none;
  border-left: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  gap: 10px;
  height: auto;
  min-height: 53px;
  background: var(--white);
  padding: 20px 16.5px;
  margin: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  line-height: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#notification .notifications > div.undefined ul li button.active {
  background-color: var(--light);
}

#notification .notifications > div.undefined ul li button:focus {
  outline: 2px dashed var(--primary-color);
  z-index: 1;
}

#notification .notifications > div.undefined > div.undefined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 10px;
  margin-top: auto;
  padding-right: 15px;
  padding-bottom: 15px;
}

#notification .notifications > div.undefined > div.undefined button {
  --primary-color: var(--blue);
  --secondary-color: var(--white);
  --spacing: 10px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  min-height: 34px;
  margin: 0;
  padding: var(--spacing) calc(var(--spacing) * 2);
  border: 1px solid;
  border-radius: 4px;
  -webkit-transition: color var(--timing) ease-in-out,
    background-color var(--timing) ease-in-out;
  transition: color var(--timing) ease-in-out,
    background-color var(--timing) ease-in-out;
}

#notification
  .notifications
  > div.undefined
  > div.undefined
  button:not(:disabled):hover,
#notification
  .notifications
  > div.undefined
  > div.undefined
  button:not(:disabled):focus {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

#notification
  .notifications
  > div.undefined
  > div.undefined
  button:not(:disabled):focus {
  outline: 2px dashed var(--primary-color);
}

#notification .notifications > div.undefined > div.undefined button.small {
  --spacing: 5px;
  min-height: unset;
}

#notification .notifications > div.undefined > div.undefined button.red {
  --primary-color: var(--lan-red);
  --secondary-color: var(--lan-white);
}

#notification .notifications > div.undefined > div.undefined button.green {
  --primary-color: var(--lan-green);
  --secondary-color: var(--lan-white);
}

#notification .notifications > div.undefined > div.undefined button.grey {
  --primary-color: var(--lan-secondary);
  --secondary-color: var(--lan-white);
}

#notification .notifications > div.undefined > div.undefined button:disabled {
  cursor: not-allowed;
  background-color: var(--lan-placeholder);
}

#notification .notifications > div.undefined > div.undefined button.icon {
  --size: 18px;
}

#notification .notifications > div.undefined > div.undefined button.icon i {
  margin-right: var(--spacing);
  height: 12px;
}

#notification
  .notifications
  > div.undefined
  > div.undefined
  button.icon
  i:only-child {
  margin: 0 !important;
}

#notification
  .notifications
  > div.undefined
  > div.undefined
  button.icon.iconRight
  i {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin: unset;
  margin-left: var(--spacing);
}
/*# sourceMappingURL=Notifications.css.map */

/* Notification Tab Only */
#notification .notification-tab {
  --border-color: var(--lan-lines);
  border: 1px solid var(--border-color);
  border-right: none;
  border-left: none;
  border-bottom: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.75rem;
  width: 100%;
  min-width: 260px;
}
.notification-tab > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #909295;
}
.notification-tab > div time {
  display: flex;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  font-size: 10px;
  font-family: var(--font-family-sans-serif);
}
.notification-tab > div p {
  margin: 0px;
  color: #909295;
  font-size: 14px;
  text-align: left;
}
.notification-tab svg {
  margin-left: auto;
  /* padding: .5rem; */
  padding-right: 0;
}
