#mainContainer {
  border: 0;
}
iframe {
  width: 98%;
  height: calc(100% - 80px);
  position: absolute;
  top: 140px;
  left: 1%;
}

.main-project-navigation {
  margin-top: 1.5em;
}

.pro-editor {
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.title-pro-editor {
  max-width: 110ch;
}

iframe#iframe-id {
  transition: 400ms ease all;
  height: calc(100% - 80px);
  z-index: 9999 !important;
  top: 130px;
}

.focus-mode-up {
  top: 0px !important;
  height: calc(100% + 80px) !important;
}
