.notifications {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 70vh;
  max-height: 500px;
  padding: 5px;
  width: 100%;
  padding: 1rem;
}

.notifications [class*='MenuColumn_menu'] {
  min-width: 200px;
}

.notifications [class*='ButtonGroup'] {
  padding: 15px;
}

.notifications > div.undefined {
  --spacing: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: calc(100% / 3);
  border: 1px solid var(--lines);
  background-color: var(--white);
  -webkit-box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11),
    0px 3px 6px rgba(90, 97, 105, 0.12), 0px 8px 8px rgba(90, 97, 105, 0.06),
    0px 6px 51px rgba(90, 97, 105, 0.1);
  box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11),
    0px 3px 6px rgba(90, 97, 105, 0.12), 0px 8px 8px rgba(90, 97, 105, 0.06),
    0px 6px 51px rgba(90, 97, 105, 0.1);
}

.notifications > div.undefined h2 {
  background-color: var(--light);
  padding: 0 calc(var(--spacing) * 1.5);
  margin: 0;
  min-height: 54px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--dark);
  line-height: 22px;
}

.notifications > div.undefined ul {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--white);
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.notifications > div.undefined ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-width: 200px;
}

.notifications > div.undefined ul li:not(:last-child) button {
  border-bottom: none;
}

.notifications > div.undefined ul li .second_column {
  background-color: var(--red);
  color: var(--white);
  --circle-size: 20px;
  border-radius: var(--circle-size);
  width: var(--circle-size);
  height: var(--circle-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11px;
  font-weight: bolder;
}

.notifications > div.undefined ul li button {
  --border-color: var(--lines);
  border: 1px solid var(--border-color);
  border-right: none;
  border-left: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  gap: 10px;
  height: auto;
  min-height: 53px;
  background: var(--white);
  padding: 20px 16.5px;
  margin: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  line-height: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.notifications > div.undefined ul li button.active {
  background-color: var(--light);
}

.notifications > div.undefined ul li button:focus {
  outline: 2px dashed var(--primary-color);
  z-index: 1;
}

.notifications > div.undefined > div.undefined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 10px;
  margin-top: auto;
  padding-right: 15px;
  padding-bottom: 15px;
}

.notifications > div.undefined > div.undefined button {
  --primary-color: var(--blue);
  --secondary-color: var(--white);
  --spacing: 10px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  min-height: 34px;
  margin: 0;
  padding: var(--spacing) calc(var(--spacing) * 2);
  border: 1px solid;
  border-radius: 4px;
  -webkit-transition: color var(--timing) ease-in-out,
    background-color var(--timing) ease-in-out;
  transition: color var(--timing) ease-in-out,
    background-color var(--timing) ease-in-out;
}

.notifications > div.undefined > div.undefined button:not(:disabled):hover,
.notifications > div.undefined > div.undefined button:not(:disabled):focus {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.notifications > div.undefined > div.undefined button:not(:disabled):focus {
  outline: 2px dashed var(--primary-color);
}

.notifications > div.undefined > div.undefined button.small {
  --spacing: 5px;
  min-height: unset;
}

.notifications > div.undefined > div.undefined button.red {
  --primary-color: var(--lan-red);
  --secondary-color: var(--lan-white);
}

.notifications > div.undefined > div.undefined button.green {
  --primary-color: var(--lan-green);
  --secondary-color: var(--lan-white);
}

.notifications > div.undefined > div.undefined button.grey {
  --primary-color: var(--lan-secondary);
  --secondary-color: var(--lan-white);
}

.notifications > div.undefined > div.undefined button:disabled {
  cursor: not-allowed;
  background-color: var(--lan-placeholder);
}

.notifications > div.undefined > div.undefined button.icon {
  --size: 18px;
}

.notifications > div.undefined > div.undefined button.icon i {
  margin-right: var(--spacing);
  height: 12px;
}

.notifications > div.undefined > div.undefined button.icon i:only-child {
  margin: 0 !important;
}

.notifications > div.undefined > div.undefined button.icon.iconRight i {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin: unset;
  margin-left: var(--spacing);
}
/*# sourceMappingURL=Notifications.css.map */
