.tab {
  --border-color: var(--lan-lines);
  border: 1px solid var(--border-color);
  border-right: none;
  border-left: none;
  display: flex;
  flex-grow: 1;
  gap: 10px;
  height: auto;
  min-height: 53px;
  background: var(--lan-white);
  padding: 20px 16.5px;
  margin: 0;
  align-items: center;
  text-align: left;
  line-height: 1;
  justify-content: space-between;
}
.tab.active {
  background-color: var(--lan-light);
}
.tab:focus {
  outline: 2px dashed var(--primary-color);
  z-index: 1;
}

.title-container {
  /* display: flex;
  width: 100%;
  align-items: center; */

  display: grid;
  grid-auto-flow: column;
  width: 100%;
  /* align-items: center; */
  /* grid-template-rows: repeat(6, 1fr); */
  grid-template-columns: 70% 30%;
}

.MenuTab_tab:hover .title {
  color: var(--primary);
}

.tab.menuTabBar-permission {
  padding: 0 calc(var(--spacing) * 1.5) !important;
}

.permissions-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lan-secondary) !important;
}

.permissions-icons i.icon-remove:hover {
  color: var(--danger);
}

.permissions-icons i.icon-save:hover {
  color: var(--success);
}

.title {
  width: 70%;
}

.title-container i {
  margin-left: 4px;
  font-size: 20px;
}
